body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family:   'Lato', sans-serif;
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden
}
.heading{
  height: 30%;
width: 100%;
font-family:   'Lato', sans-serif;
display: flex;
flex-direction: row;
justify-content: space-evenly;
background: #67B26F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 0 0 30% 30%;
letter-spacing: 4px;
font-size: 50px;
}
img{
height: 100%;
width: 30%;
}
.det{
color: #F2C94C;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2%;
  font-size: 17px;
  text-shadow: 7px 8px 4px black;
}
.main{
  font-size: 40px;
  padding: 4px;
}
.quiz{
margin-left: 3%;
height: 70%;
width: 100%;
}
.option{
  width: 35%;
padding: 3px;
border: 0.1px solid  #43C6AC;
border-radius: 5px;
/* font-weight: bold; */
font-size: 18px;
background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
.two{
  width: 70%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.ques{
  width: 100%;

}
.quesimgbinder{
display: flex;
}
.image{
width: 50%;

}